<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# BEGIN Compress text files
<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|php|json|map)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>
# END Compress text files

<Directory .git>
    order allow,deny
    deny from all
</Directory>