<div class="row">
	<div class="col-md-8">
		
		<p>The recently relaunched <a href="http://www.bayclubs.com">bayclubs.com</a> brought the company's 11 various websites together on the same platform. The site serves as a portal for club members to view upcoming classes, events, and other information.</p>

		<p>My repsonsibility on this site was from top to bottom. The site is built in Umbraco, and I built all of the neccessary types needed to store the different pieces of data. I leveraged Umbraco's API to build custom data uploaders, to migrate their old data from ExpressionEngine into Umbraco. I built a JSON webservice for their class schedules, filter classes by class type, instructor, and location. Finally, I developed all of the page templates.</p>

		<p>The result of this project was turnkey - after leading the training sessions, the client has been able to manage all pieces of the site themselves.</p>

		<p>
			<i class="glyphicon glyphicon-ok"></i> C#, Umbraco, XSLT, XPath, custom JSON services, Bootstrap
		</p>
	</div><!-- end div.col-md-8 -->
</div><!-- end div.row -->


<div class="photos">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6"><img class="img-responsive" src="img/projects/bayclub-1.jpg" alt="" /></div><!-- end div.col-md-6 -->
				<div class="col-md-6"><img class="img-responsive" src="img/projects/bayclub-2.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
			
		</div><!-- end div.col-md-12 -->
	</div><!-- end div.row -->
</div><!-- end div.photos -->