<div class="row">
	<div class="col-md-8">
		<p>Energy House Calls Presented by PG&amp;E is a web series following several families on a mission to reduce their electric bill. The crew does a makeover on their homes, focusing on insulation, appliances, light bulbs, HVAC systems, and rebates for replacing older, inefficient appliances. After the makeovers, all families saw drastic savings on their electric bills.</p>
		<p>In addition to the web episodes, the site also contains instructional videos for DIY projects around the house that will help reduce electric usage.</p>
		<p>The Energy House Calls website is built on the Wordpress platform, enabling the client to make easy content updates. The platform is also further customized with Wordpress custom data types and taxonomies.</p>
		<p>	
			<i class="glyphicon glyphicon-ok"></i> Wordpress, Bootstrap
		</p>
	</div><!-- end div.col-md-8 -->
</div><!-- end div.row -->
<div class="photos">
	<div class="row">
		<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ehc-1.jpg" alt="" /></div><!-- end div.col-md-6 -->
		<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ehc-2.jpg" alt="" /></div><!-- end div.col-md-6 -->
	</div><!-- end div.row -->
</div><!-- end div.photos -->