
<div class="photos">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ilcdover-01.jpg" alt="" /></div><!-- end div.col-md-6 -->
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ilcdover-02.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
			<div class="row">
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ilcdover-03.jpg" alt="" /></div><!-- end div.col-md-6 -->
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/ilcdover-04.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"><img class="project-img img-responsive" src="img/projects/ilcdover-05.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
		</div><!-- end div.col-md-12 -->
	</div><!-- end div.row -->
</div><!-- end div.photos -->
