<div class="row">
	<div class="col-md-9">
		<p>"Do you believe in a soulmate?"</p>
		<p>Less Than One is a film and web project that explores this question.</p>

		<p>Just enter the city that you live in, and you start out with a pool of everyone in that city. From there the site asks questions about how selective (or not selective!) you are in terms of attractiveness, intelligence, among other traits. You can see the number of available matches dwindle down as the questions are asked, and in the end you can see just how many people are perfect for you.</p>

		<p>
			<i class="glyphicon glyphicon-ok"></i> Bootstrap, JavaScript
		</p>
		<p>
			<span class="red"><i class="glyphicon glyphicon-heart"></i></span> FWA Public Shortlist, <a href="http://www.thesfegotist.com/news/local/2014/february/6/swirl-creatives-do-incredible-work-help-you-find-your-soulmate-odds-valen" target="_blank">SF Egotist</a>,
			<a href="http://blogs.sfweekly.com/exhibitionist/2014/02/less_than_one.php" target="_blank">SF Weekly</a>,
			<a href="http://www.mediabistro.com/agencyspy/swirl-creatives-ask-do-soulmates-exist_b60485" target="_blank">Agency Spy</a>, <a href="http://www.glamour.com/sex-love-life/blogs/smitten/2014/02/time-facebook-app-age-married.html" target="_blank">Glamour magazine</a>, and
			<a href="http://www.askcleo.com.my/calculate-your-soulmates/" target="_blank">Cleo Magazine</a>.
		</p>
	</div><!-- end div.col-md-8 -->
</div><!-- end div.row -->
<div class="photos">
	<div class="row">
		<div class="col-md-6"><img class="img-responsive" src="img/projects/lessthanone-1.jpg" alt="" /></div><!-- end div.col-md-6 -->
		<div class="col-md-6"><img class="img-responsive" src="img/projects/lessthanone-2.jpg" alt="" /></div><!-- end div.col-md-6 -->
	</div><!-- end div.row --></div><!-- end div.photos -->