<div class="row">
	<div class="col-md-9">
		<p>Founded in 2005 by Robert Redford and his children, the Redford Center is led by filmmaker and board chair Jamie Redford. Under Jamie’s leadership, the Redford Center harnesses the power of film, video, and new media to increase public engagement on frontline issues and support like‑minded community efforts. By distributing storytelling tools and creatively developing education platforms and action campaigns, the Redford Center inspires meaningful progress on the issues at hand.</p>

		<p>We developed their new web site with the goal of making it feel like a vibrant, cinematic experience.</p>
	</div><!-- end div.col-md-9 -->
</div><!-- end div.row -->