<div class="row">
	<div class="col-md-9">
		<p>For the 2013 holiday season, we wanted to do things a little differently. We introduced a giving component to our agency's holiday card &mdash; in which the company made holiday donations to organizations that are close to our hearts.</p>
		<p>
			We sent holiday cards to hundreds of our clients and friends. Each card had a unique code printed on it, instructing them to visit our holiday giving site and enter using their unique code.  Once entered onto the site, a gorgeous snow-covered scene of our building is displayed &mdash; an impossibility in San Francisco. Users can click on the bows that show up in the office windows, with each bow representing a charitable cause. They can then pledge to support that cause, and then we made a donation in their name.
		</p>
		<p>
			<i class="glyphicon glyphicon-ok"></i> PHP, MySQL, CSS3 animations and transitions
		</p>

	</div><!-- end div.col-md-9 -->
</div><!-- end div.row -->


<div class="photos">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/swirlholiday2013-1.jpg" alt="" /></div><!-- end div.col-md-6 -->
				<div class="col-md-6"><img class="project-img img-responsive" src="img/projects/swirlholiday2013-2.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"><img class="project-img img-responsive" src="img/projects/swirlholiday2013-3.jpg" alt="" /></div><!-- end div.col-md-6 -->
			</div><!-- end div.row -->
		</div><!-- end div.col-md-12 -->
	</div><!-- end div.row -->
</div><!-- end div.photos -->